page-home {

#icon-bar-on{
	display:none;
}

#icon-setting{
	display:none;
}

#icon-save{
	display:none;
}

#icon-volume{
	display:none;
}

#icon-zoom{
	display:none;
}

#icon-expand{
	display:none;
}

}
